
/* Imports
-------------------------------------------------- */
@import 'config/config-door-size';
@import 'config/config-mixins';

html {
  min-height: 100%;
  cursor: default;
}

html,
body {
  color: $color-default;
  background-color: $color-one;
}

h1, h2 {
  margin-bottom: $door-size;
  font-weight: 100;
}

p {
  font-weight: 100;
}

a {
  text-decoration: none;

  &:hover {
    //opacity: .5;
    //text-decoration: underline;
  }
}

:link, :visited {
  color: white;
}

a:hover, a:focus {
  color: #454dff;
  font-weight: 400;
}


.flex {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-end;

  width: 100vw;
  min-height: 100vh;

  z-index: 2;
}

header,
main {

  color: white;

  background-color: black;
  box-shadow: 0 0 $door-padding rgba(0, 0, 0, 0.5);

  position: relative;
}

header { z-index:1 }
main { z-index:2 }


.logo {
  mix-blend-mode: overlay;
}

.social-links {
  //mix-blend-mode: overlay;

  display: block;
  position: fixed;
  bottom: $door-size;
  right: $door-size;

  a {
    display: inline-block;
    min-width: $door-size;
    text-align: center;
  }

  z-index: 9;
  padding: 0;
  margin: 0;
}

header {
  background-color: $color-one;

  position: sticky;
  top: 0;

  width: 100%;
  height: 40vh;
  min-height: $door-size*8;

  overflow: hidden;


  &.flex {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {

      max-width: 700px;
      padding: $door-size;
    }
  }

  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: unset;
  background-position: 0%;

  animation: clouds-moving infinite 40s;

  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}



@keyframes clouds-moving {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}


main {

  height: auto;
  min-height: 60vh;

  .flex {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;

    max-width: 1280px;

    min-height: auto;

    margin: 0 auto;
    padding: $door-size 0 0;

    //outline: 2px solid red;
  }


  .col {
    width: 50%;
    //text-align: center;
    padding: 0 $door-size;
  }
}

small {
  font-size: 70%;
}



@media all and (max-width: 980px) {

  main {
    .col {
      width: 100%;
      padding: 0 $door-size*3 0 $door-size;
    }
  }
}